body {
  height: 200dvh;
}

.kotak {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.fixed {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: -10;
}

.relative {
  position: relative;
  top: 50px;
  left: 20px;
  z-index: 10;
}

.absolute {
  position: relative;
  z-index: -1;
}
